In [1]:
import json
import pandas as pd
import numpy as np

In [2]:
f =  open('../data/user_rating_dict.json')

In [3]:
j = json.loads(f.read())

In [4]:
m = []
for usr in j:
    for r in list(j[usr].items()):
        m.append([usr,r[0],r[1]])

In [5]:
df = pd.DataFrame(m)

In [8]:
df[2] = df[2].apply(float)

In [13]:
means = {}

for u in df[1].unique():
    means[u] = df[df[1] == u][2].mean()

In [30]:
means[list(means.keys())[0]]

3.9323699421965315

In [32]:
df_wide.head()

0                                                      1   10  100  1000  \
  1
2 https://www.ratebeer.com/beer/10-barrel--blueja... NaN  NaN  NaN   NaN
  https://www.ratebeer.com/beer/21st-amendment--f... NaN  4.4  NaN   NaN
  https://www.ratebeer.com/beer/abc-brewing-henri... NaN  NaN  NaN   NaN
  https://www.ratebeer.com/beer/against-the-grain... NaN  NaN  NaN   NaN
  https://www.ratebeer.com/beer/against-the-grain... NaN  NaN  NaN   NaN

0                                                     1001  1002  10021  \
  1
2 https://www.ratebeer.com/beer/10-barrel--blueja...   NaN   NaN    NaN
  https://www.ratebeer.com/beer/21st-amendment--f...   NaN   3.5    NaN
  https://www.ratebeer.com/beer/abc-brewing-henri...   NaN   NaN    NaN
  https://www.ratebeer.com/beer/against-the-grain...   NaN   NaN    NaN
  https://www.ratebeer.com/beer/against-the-grain...   NaN   NaN    NaN

0                                                     10022  10023  10024  \
  1
2 https://www.ratebeer.com/beer/10-barrel--blueja...    NaN    NaN    NaN
  https://www.ratebeer.com/beer/21st-amendment--f...    NaN    NaN    NaN
  https://www.ratebeer.com/beer/abc-brewing-henri...    NaN    NaN    NaN
  https://www.ratebeer.com/beer/against-the-grain...    NaN    NaN    NaN
  https://www.ratebeer.com/beer/against-the-grain...    NaN    NaN    NaN

0                                                    ...   992  9947  995  \
  1                                                  ...
2 https://www.ratebeer.com/beer/10-barrel--blueja... ...   NaN   3.7  NaN
  https://www.ratebeer.com/beer/21st-amendment--f... ...   NaN   3.9  NaN
  https://www.ratebeer.com/beer/abc-brewing-henri... ...   NaN   NaN  NaN
  https://www.ratebeer.com/beer/against-the-grain... ...   NaN   NaN  NaN
  https://www.ratebeer.com/beer/against-the-grain... ...   NaN   NaN  NaN

0                                                     996  9966  9967  9969  \
  1
2 https://www.ratebeer.com/beer/10-barrel--blueja...  NaN   NaN   NaN   NaN
  https://www.ratebeer.com/beer/21st-amendment--f...  NaN   NaN   NaN   NaN
  https://www.ratebeer.com/beer/abc-brewing-henri...  NaN   NaN   NaN   NaN
  https://www.ratebeer.com/beer/against-the-grain...  NaN   NaN   NaN   NaN
  https://www.ratebeer.com/beer/against-the-grain...  NaN   NaN   NaN   NaN

0                                                     997  9982  999
  1
2 https://www.ratebeer.com/beer/10-barrel--blueja...  NaN   2.7  NaN
  https://www.ratebeer.com/beer/21st-amendment--f...  NaN   3.6  NaN
  https://www.ratebeer.com/beer/abc-brewing-henri...  NaN   NaN  NaN
  https://www.ratebeer.com/beer/against-the-grain...  NaN   NaN  NaN
  https://www.ratebeer.com/beer/against-the-grain...  NaN   NaN  NaN

[5 rows x 4511 columns]

In [27]:
df_wide = pd.pivot_table(df, values=[2],
        index=[1], columns=[0], aggfunc=np.sum)
        
df_wide.shape

(4511, 13004)

In [28]:
df_wide = df_wide.T

In [52]:
df_wide.to_csv('adding_averages.csv')

In [54]:
j = json.dumps(means)

In [55]:
f = open('df_means.json','w')
f.write(j)
f.close()

In [2]:
f = open('df_means.json')
means = json.loads(f.read())
f.close()

In [6]:
df_wide = pd.read_csv('adding_averages.csv')

In [12]:
df_wide.columns

Index(['1', '1.1', '10', '100', '1000', '1001', '1002', '10021', '10022',
       '10023',
       ...
       '992', '9947', '995', '996', '9966', '9967', '9969', '997', '9982',
       '999'],
      dtype='object', length=4512)

index 2176

In [53]:
list(df_wide['1'].unique()).index(d)

2176

In [ ]:
for d in df_wide['1'].unique()[2176:]:
    df_wide[df_wide['1']==d] = df_wide[df_wide['1']==d].fillna(means[d])

In [42]:
df_wide[df_wide[1]=='https://www.ratebeer.com/beer/abc-brewing-henrik-imperial-amber/168983/'].fillna(means['https://www.ratebeer.com/beer/abc-brewing-henrik-imperial-amber/168983/'])

,1,1,10,100,1000,1001,1002,10021,10022,10023,...,992,9947,995,996,9966,9967,9969,997,9982,999
2,https://www.ratebeer.com/beer/abc-brewing-henr...,3.819565,3.819565,3.819565,3.819565,3.819565,3.819565,3.819565,3.819565,3.819565,...,3.819565,3.819565,3.819565,3.819565,3.819565,3.819565,3.819565,3.819565,3.819565,3.819565

In [33]:
df_wide = df_wide.reset_index()

In [34]:
del df_wide['level_0']

In [22]:
df_wide.head()

,1,1,10,100,1000,1001,1002,10021,10022,10023,...,992,9947,995,996,9966,9967,9969,997,9982,999
0,https://www.ratebeer.com/beer/10-barrel--bluej...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.7,0.0,0.0,0.0,0.0,0.0,0.0,2.7,0.0
1,https://www.ratebeer.com/beer/21st-amendment--...,0.0,4.4,0.0,0.0,0.0,3.5,0.0,0.0,0.0,...,0.0,3.9,0.0,0.0,0.0,0.0,0.0,0.0,3.6,0.0
2,https://www.ratebeer.com/beer/abc-brewing-henr...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,https://www.ratebeer.com/beer/against-the-grai...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,https://www.ratebeer.com/beer/against-the-grai...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
for d in df_wide.columns[1:]:
    df_wide[d] = df_wide[d].apply(float)

In [ ]:
df_wide.head()

In [ ]:
df_wide[df_wide.columns[1]].apply(float).mean()

In [24]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import manhattan_distances
from sklearn.metrics.pairwise import euclidean_distances

In [25]:
dists = cosine_similarity(df_wide[df_wide.columns[1:]])
dists

array([[ 1.        ,  0.18986032,  0.05731339, ...,  0.06369161,
         0.04556536,  0.02141478],
       [ 0.18986032,  1.        ,  0.03807267, ...,  0.10071954,
         0.        ,  0.05184895],
       [ 0.05731339,  0.03807267,  1.        , ...,  0.06290908,
         0.        ,  0.        ],
       ...,
       [ 0.06369161,  0.10071954,  0.06290908, ...,  1.        ,
         0.        ,  0.06581821],
       [ 0.04556536,  0.        ,  0.        , ...,  0.        ,
         1.        ,  0.        ],
       [ 0.02141478,  0.05184895,  0.        , ...,  0.06581821,
         0.        ,  1.        ]])

In [26]:
dists = pd.DataFrame(dists, columns=df_wide.index)

dists.index = dists.columns
dists.ix[0:10, 0:10]

,0,1,2,3,4,5,6,7,8,9,10
0,1.000000,0.189860,0.057313,0.057641,0.075032,0.072096,0.017120,0.080693,0.055503,0.064125,0.072617
1,0.189860,1.000000,0.038073,0.052380,0.000000,0.085379,0.023836,0.112212,0.125613,0.036274,0.063367
2,0.057313,0.038073,1.000000,0.000000,0.000000,0.054640,0.000000,0.052623,0.016552,0.000000,0.084052
3,0.057641,0.052380,0.000000,1.000000,0.000000,0.146146,0.088250,0.047937,0.169154,0.383627,0.106050
4,0.075032,0.000000,0.000000,0.000000,1.000000,0.000000,0.108750,0.000000,0.000000,0.000000,0.000000
5,0.072096,0.085379,0.054640,0.146146,0.000000,1.000000,0.122055,0.162397,0.186842,0.105208,0.244069
6,0.017120,0.023836,0.000000,0.088250,0.108750,0.122055,1.000000,0.052460,0.103343,0.178776,0.065274
7,0.080693,0.112212,0.052623,0.047937,0.000000,0.162397,0.052460,1.000000,0.260213,0.111054,0.136200
8,0.055503,0.125613,0.016552,0.169154,0.000000,0.186842,0.103343,0.260213,1.000000,0.156777,0.129458
9,0.064125,0.036274,0.000000,0.383627,0.000000,0.105208,0.178776,0.111054,0.156777,1.000000,0.055605
10,0.072617,0.063367,0.084052,0.106050,0.000000,0.244069,0.065274,0.136200,0.129458,0.055605,1.000000

In [ ]:
import random

In [ ]:
choices = []
for i in range(5):
    choices.append(random.choice(df[1].tolist()))

In [ ]:
choices

In [ ]:
dists[2][choices].head()

In [ ]:
beers_summed = dists[2][choices].apply(lambda row: np.sum(row), axis=1)

In [ ]:
choices

In [ ]:
beers_summed = dists[2][choices].apply(lambda row: np.sum(row), axis=1)
beers_summed = beers_summed.sort_values(ascending=False)
ranked_beers = beers_summed.index[beers_summed.index.isin(choices)==False]
ranked_beers = ranked_beers.tolist()
ranked_beers[2][1]

In [ ]:
ranked_beers = beers_summed.index[beers_summed.index.isin(choices)==False]
ranked_beers = ranked_beers.tolist()
ranked_beers[2][1]

In [ ]:
[c for c in df[1].tolist() if 'troegs' in c]

In [44]:
print(True)

True